<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Qual Connection</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
<header>
	<nav class="navbar navbar-inverse">
		<a href="/" class="navbar-brand">My Site</a>
		<ul class="nav navbar-nav">
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</nav>
</header>
<%- defineContent('hero') %>

<main>
	<div class="container">
	<%- defineContent('body') %>
	</div>
</main>

<footer>
	Awesome Site Copyright &copy; 2017
</footer>
</body>
</html>