<%- contentFor('hero') %>
<section class="hero">
	<div class="hero-content">
		<h2>Qual Cable Enterprise!</h2>
		<p>The best place to find the right provider for you</p>
		<a href="/login" class="btn btn-lg btn-primary">Login</a>
		<a href="/contact" class="btn btn-lg btn-primary">Contact Us!</a>
	</div>
</section>
<%- contentFor('body') %>
<div class="jumbotron text-center">
	Home Page
</div>

