<%- contentFor('body') %>
<div class-'jumbotron text-center'>
	<h1 align="center">Login Page</h1>
	<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<h2>Username and Password</h2>

		<form action="/addLine" method="POST">
			<div class="controls">
				<div class="input-prepend">
					<span class="add-on">
						<span class="icon-user hasTooltip" title="" data-original-title="Username"></span>
							<label for="modlgn-username" class="element-invisible">Username</label>
					</span>
					<input id="modlgn-username" type="text" name="username" class="input-small" tabindex="0" size="18" placeholder="Username">
				</div>
			</div>
			<div class="controls">
				<div class="input-prepend">
					<span class="add-on">
						<span class="icon-user hasTooltip" title="" data-original-title="Password"></span>
							<label for="modlgn-password" class="element-invisible">Password</label>
					</span>
					<input id="modlgn-password" type="password" name="password" class="input-small" tabindex="0" size="18" placeholder="Password">
				</div>
			</div>
			<div class="form-group text-left">				
				<button type="submit" class="btn btn-primary btn-lng">Login</button>
			</div>
			<ul class="unstyled">
				<li>
					<a href="/users">
					Create an account <span class="icon-arrow-right"></span></a>
				</li>
				<li>
					<a href="/">
					Forgot your username?</a>
				</li>
				<li>
					<a href="/joomla/index.php/component/users/?view=reset">
					Forgot your password?</a>
				</li>
			</ul>
		</form>
	</div>
	</div>
</div>