<%- contentFor('hero') %>
  <div class="col-xs-6">
<h2 class="sub-header">Providers</h2>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-md-2">Provider</th>
          <th class="col-md-3">Speed</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="col-md-1">1,001</td>
          <td class="col-md-2">1,001</td>
          <td class="col-md-3">1,001</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="col-xs-6">
  <h2 class="sub-header">Prices</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-md-1">Speed</th>
          <th class="col-md-2">Price</th>
          <th class="col-md-3">Select Option</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="col-md-2">5Mb</td>
          <td class="col-md-3">30$</td>
          <td class="col-md-1"><input type="radio" name="radioButton"/></td>
        </tr>                
      </tbody>
    </table>
  </div>
  <div id="push"></div>
</div>